:root {
  --orange: #DC5F00;
  --blackPearl: #373A40;
  --offWhite: #F8F8F8;
  --gray : #373A40
}

/* @font-face {
  font-family: 'Maxima Nouva';
  src: url('/fonts/MaximaNouva.woff2') format('woff2'),
       url('/fonts/MaximaNouva.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  height: 100%;
  font-family: 'Maxima Nouva', sans-serif;
background-color: #F8F8F8;}
#root {
  height: 100%;
  background-color: var(--blackBg);
}

/* Basic Style */
/* ================ Font Sizes ================ */
.fontSize9 {
  font-size: 9px;
}

.fontSize10 {
  font-size: 10px;
}

.fontSize12 {
  font-size: 12px;
}

.fontSize14 {
  font-size: 14px;
}

.fontSize15 {
  font-size: 15px;
}



/* ================ Font Sizes ================ */


/* ================ Font Weight ================ */


.fontWeight500 {
  font-weight: 500;
}

.fontWeight400 {
  font-weight: 400;
}



/* ================ Font Weight ================ */

/* ================ Margin Bottom ================ */
.marBot0 {
  margin-bottom: 0px;
}
/* ================ Margin Bottom ================ */

/* ================ Text Truncate ================ */
.OneLineTruncate {
  display: -webkit-box;
  /* max-width: 50%; */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  white-space: initial;
}

/* ================ Text Truncate ================ */

/* ================flex ================ */

.flexRow {
  display: flex;
  flex-direction: row;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifySpacebetween {
  justify-content: space-between;
}

.justifyevenly {
  justify-content: space-evenly;
}

.rowConatainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alignCenter {
  align-items: center;
}
/* ================flex ================ */





/* Header */

.headerMainContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Header */


.navbarMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}

.navbarMain p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin: 0 20px;

}
.navbarMain  p:nth-child(1) {
  color : var(--orange)
}



.callButton {
  height: 64px;
  width: 257px;
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.callButton a {
  text-decoration: none;
  color: white;
  
}

.callButton a p {
  padding-left: 10px;
  color: white;
  font-size: 20; 
  font-weight: 400;
}


.silderMainComponent{
  display: flex;
flex-direction: row;
  background-color: white;
  height: 600px;
  width: 100%;
  margin-top: 20px;
}
.leftContainer{
  width: 80%;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  padding-left: 40px ;
  padding-right: 450px;
}
.textConatiner{
}

.rightContainer{
  width: 20%;
display: flex;
align-items: center;
justify-content: center;
}

.insindeConatiner{
 width: 45.37px;
 /* height:577.37px ;  */
 
}

.insindeConatiner p {
  color :  black;
  writing-mode: vertical-rl; 
  text-orientation:sideways;
  transform: rotate(180deg);

}

.mainText{
  font-size: 100px;
  font-weight: 700;
}




/*======== videoSectionMainSection============ */


.videoSectionMain {
  text-align: center;
  padding: 40px 0;
  background-color: #f4f4f4;
}


.videoContainer iframe {
  width: 100%;
  max-width: 100%;
  height: 861.38px; 
  border: none;
}


/*======== videoSectionMainSection============ */



/* ===========ratingMainConatiner=========== */

.ratingMainContainer {
  padding: 20px;
  text-align: center;
}

.textContainer {
  margin-bottom: 20px;
}

.textContainer p {
  font-size: 30px;
  font-weight: 600;
}

.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.sliderContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  flex-grow: 1;
  padding: 0 40px; 
}

.sliderItem {
  min-width: 200px;
  padding: 15px 40px;
  margin: 0 10px;
  background-color: #F2F2F2;
  border-radius: 85px; 
  text-align: center;
  flex-shrink: 0;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sliderItem h2 {
  margin: 0;
  font-size: 38;
}

.sliderItem p {
  margin: 10px 0 0;
  font-size: 14px;
}

.sliderItem:hover {
  color:  var(--orange);
  border-color:  var(--orange);
}

.sliderContainer::-webkit-scrollbar {
  display: none;
}

.scrollButton {
  background-color:   #7D818B;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scrollButton.left {
  left: 10px;
}

.scrollButton.right {
  right: 10px;
}

.scrollButton:hover {
  background-color: black
}


/* card section */
.cardSectionMain{

}

/* card section */


/* detailComponentMain */

.detailComponentMain{
  text-align: center;
  /* background-color: red; */
  padding: 0px 350px;
}

.detailComponentMain p:nth-child(1) {
  font-size: 30px;
  font-weight: 600;
}

.detailComponentMain p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color : #7D818B
}

/* detailComponentMain */

.mainBox{
  width: 100%;
  display: flex;
  flex-direction: row;
 justify-items: center;
  justify-content: space-evenly;
}


/* ==========card style========== */
.cardMainContainer{
  border: 1px solid #D7D7D7;
  border-radius:  50px 0px 50px 0px; 
  padding: 30px;
  height: 523;
  width: 25%;
  display: flex;
 flex-direction: column;
 padding-top: 40px;
 margin: 20px;

}

.cardMainContainer :nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color : black
}

.cardImage {
  width: 100%; 
  height: auto;
  max-width: 330px;
  max-height: 200px;
  object-fit: cover; 
}
.cardImage img {
  width: 100%; 
  height: 100%;
}

.cardMainContainer :nth-child(4) {
  font-size: 14px;
  font-weight: 600;
  color : black
}
.cardMainContainer :nth-child(5) {
  font-size: 14px;
  font-weight: 600;
  color : black
}
/* ==========card style========== */


/* =============step selection============= */



/* =============step selection============= */

/* ================== About Section ============================ */
.aboutSectionMain {
  width: 100%;
  background-color: #373a40;
  padding: 50px 0;
}

.aboutTitle {
  color: white;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 35px;
}

.aboutCardContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.aboutCard {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-radius: 0 30px 0 30px;
  height: 327; 
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.aboutCard img {
  margin-bottom: 10px;
}

.aboutCardTitle {
  font-size: 18px;
  font-weight: bold;
  color: #2C3E52;
  margin-bottom: 5px;
  padding: 0px 10px;
}

.aboutCardDescription {
  font-size: 14px;
  color: #696969;
  padding: 0px 10px;
}
.frameBox{
  margin: 50px 0px;
}
/* ================== About Section ============================ */



/* ================techInsight============================= */
.techInsightMainContainer {
  padding: 20px;
}

.techInsightMainContainer .title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}


.cardBox {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.techcard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 25%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

.techcard img {
  width: 100%;
  height: auto;
}

.techcard :nth-child(2){
  font-size: 14px;
  font-weight: bold;
}

.techcard :nth-child(3){
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.techcard :nth-child(4){
  font-size: 12px;
  color: #696969;
}

.button {

  padding: 10px;
  text-align: center;
  border: 1px solid var(--orange);
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold;
}






/* ================techInsight============================= */



/* ===========fAQ======= */
.faq {
  width: 80%;
  margin: auto;
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid  #CCCCCC;
  border-radius: 10px;
  padding: 10px;
}

.faq-item h2 {
  font-size: 16px;
  color: var(--orange);
}

.faq-item p {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}


/* ===========fAQ======= */